@import "tailwindcss";

@font-face {
    font-family: 'playfair';
    src: url('./fonts/playfair-display-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular.woff2') format('woff2');
}

:root {
     /* Primary */
  --color-primary: #3b82f6;

  /* Success */
  --color-success: #22c55e;
  --color-success-dark: #16a34a;
  --color-success-darker: #15803d;

  /* Danger */
  --color-danger: #ef4444;
  --color-danger-dark: #dc2626;

  /* Warning */
  --color-warning: #f59e0b;
  --color-warning-dark: #92400e;

  /* Background */
  --color-bg: #f1f5f9;
  --color-card: #ffffff;

  /* Text */
  --color-text: #1e293b;
  --color-text-muted: #64748b;
  --color-text-soft: #94a3b8;

  /* Border */
  --color-border: #e2e8f0;
  --color-border-soft: #f1f5f9;


    --font-playfair: 'playfair', sans-serif;
    --font-roboto: 'roboto', sans-serif;
    font-family: 'Segoe UI', system-ui, sans-serif;
    
}